@using BlazorFace.Components
@using BlazorFace.Components.Layout
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <meta name="theme-color" content="#ffffff">
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap-icons/font/bootstrap-icons.css"]" />
    <link rel="stylesheet" href="@Assets["lib/highlightjs/styles/vs.min.css"]" />
    <link href="@Assets["css/site.css"]" rel="stylesheet" />
    <link href="@Assets["BlazorFace.Web.styles.css"]" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>
<body class="d-flex flex-column h-100">
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>

    <script src="@Assets["lib/bootstrap/js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["lib/highlightjs/highlight.min.js"]"></script>

    <!-- https://learn.microsoft.com/en-us/aspnet/core/blazor/images?view=aspnetcore-7.0#stream-image-data -->
    <script>
        window.setImage = async (imageElementId, imageStream) => {
            const arrayBuffer = await imageStream.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            const image = document.getElementById(imageElementId);
            image.onload = () => {
                URL.revokeObjectURL(url);
            }
            image.src = url;
        }

        window.clearImage = async (imageElementId) => {
            const image = document.getElementById(imageElementId);
            image.removeAttribute('src', '');
        }

        window.highlightElement = function (elem) {
            hljs.highlightElement(elem);
        }
    </script>
</body>
</html>
